<section id="cost" class="cost">
  <span class="elements_cost elem_cost1">&#123;&nbsp;&#125;</span>
  <span class="elements_cost elem_cost2">&#60;&#47;&#62;</span>
  <span class="elements_cost elem_cost3">&#35;</span>
  <span class="elements_cost elem_cost4">&#123;&nbsp;&#125;</span>
  <span class="elements_cost elem_cost5">&#60;div&#62;</span>

  <div class="container">
    <div class="cost_wrap">
      <h2 class="cost_title">Адаптивная вёрстка под все устройства и&nbsp;браузеры от 1000 рублей всего за&nbsp;4&nbsp;часа.</h2>

      <small class="cost_subtitle">Срок и стоимость могут отличаться от заявленных и рассчитываются  индивидуально, в&nbsp;зависимости от&nbsp;сложности задач.</small>
    </div>
  </div>
</section>