<header class="header">
  <span class="elements elem1">&#123;&nbsp;&#125;</span>
  <span class="elements elem2">&#60;div&#62;</span>
  <span class="elements elem3">&#35;</span>
  <span class="elements elem4">&#60;div&#62;</span>
  <span class="elements elem5">&#60;&#47;&#62;</span>

  <div class="container">
    <div class="header_top">
      <button class="burger" aria-label="Главное меню">
        <span class="burger_item"></span>

        <span class="burger_item"></span>

        <span class="burger_item"></span>
      </button>

      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="#services" class="nav_link">Услуги</a>
          </li>

          <li class="nav_item">
            <a href="#portfolio" class="nav_link">Портфолио</a>
          </li>

          <li class="nav_item">
            <a href="#cost" class="nav_link">Стоимость</a>
          </li>
        </ul>
      </nav>

      <div class="header_info">
        <a href="tel:+79258320227" class="header_phone">+7 (925) 832-02-27</a>

        <button class="btn btn_out header_info__btn btn_js">Заказать звонок</button>

        <button class="btn btn_hide btn_js" aria-label="Заказать звонок">
          <span class="btn_hide__inner">
            <i class="demo-icon icon-phone btn_hide__icon"></i>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="header_bottom">
    <div class="header_img">
      <picture>
        <source srcset="build/img/header/man_bg_320@1x.webp 1x, build/img/header/man_bg_320@2x.webp 2x" media="(max-width: 320px)" type="image/webp">

        <source srcset="build/img/header/man_bg_320@1x.png 1x, build/img/header/man_bg_320@2x.png 2x" media="(max-width: 320px)">

        <source srcset="build/img/header/man_bg_576@1x.webp 1x, build/img/header/man_bg_576@2x.webp 2x" media="(max-width: 576px)" type="image/webp">

        <source srcset="build/img/header/man_bg_576@1x.png 1x, build/img/header/man_bg_576@2x.png 2x" media="(max-width: 576px)">

        <source srcset="build/img/header/man_bg_tablet@1x.webp 1x, build/img/header/man_bg_tablet@2x.webp 2x" media="(max-width: 768px)" type="image/webp">

        <source srcset="build/img/header/man_bg_tablet@1x.png 1x, build/img/header/man_bg_tablet@2x.png 2x" media="(max-width: 768px)">

        <source srcset="build/img/header/man_bg_992@1x.webp 1x, build/img/header/man_bg_992@2x.webp 2x" media="(max-width: 992px)" type="image/webp">

        <source srcset="build/img/header/man_bg_992@1x.png 1x, build/img/header/man_bg_992@2x.png 2x" media="(max-width: 992px)">

        <source srcset="build/img/header/man_bg@1x.webp 1x, build/img/header/man_bg@2x.webp 2x" type="image/webp">

        <img class="header_img__item" alt="Моя фотография" src="build/img/header/man_bg@1x.png" srcset="build/img/header/man_bg@2x.png 2x">
      </picture>
    </div>

    <div class="header_content">
      <div class="container">
        <hgroup>
          <h1 class="heading">Дмитрий Ларьков</h1>

          <h2 class="subheading">Frontend-разработчик и веб-верстальщик</h2>
        </hgroup>

        <a href="#services" class="btn btn_fill header_bottom__btn">Узнать больше</a>
      </div>
    </div>
  </div>
</header>