<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="title portfolio_title">Примеры моих работ</h2>

    <div class="portfolio_wrap">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-container">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="portfolio_item">
              <picture>
                <source srcset="build/img/portfolio/portfolio1_mobile@1x.webp 1x, build/img/portfolio/portfolio1_mobile@2x.webp 2x" media="(max-width: 320px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio1_mobile@1x.jpg 1x, build/img/portfolio/portfolio1_mobile@2x.jpg 2x" media="(max-width: 320px)">

                <source srcset="build/img/portfolio/portfolio1@1x.webp 1x, build/img/portfolio/portfolio1@2x.webp 2x" media="(max-width: 1199px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio1@1x.jpg 1x, build/img/portfolio/portfolio1@2x.jpg 2x" media="(max-width: 1199px)">

                <source srcset="build/img/portfolio/portfolio1_desktop@1x.webp 1x, build/img/portfolio/portfolio1_desktop@2x.webp 2x" type="image/webp">

                <img class="portfolio_img" alt="Сайт психолога Веры Антоновой" src="build/img/portfolio/portfolio1_desktop@1x.jpg" srcset="build/img/portfolio/portfolio1_desktop@2x.jpg 2x">
              </picture>

              <figcaption class="portfolio_caption">
                <h3>
                  <a class="portfolio_caption__link" href="#">Сайт психолога Веры Антоновой</a>
                </h3>
              </figcaption>
            </figure>
          </div>

          <div class="swiper-slide">
            <figure class="portfolio_item">
              <picture>
                <source srcset="build/img/portfolio/portfolio2_mobile@1x.webp 1x, build/img/portfolio/portfolio2_mobile@2x.webp 2x" media="(max-width: 320px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio2_mobile@1x.jpg 1x, build/img/portfolio/portfolio2_mobile@2x.jpg 2x" media="(max-width: 320px)">

                <source srcset="build/img/portfolio/portfolio2@1x.webp 1x, build/img/portfolio/portfolio2@2x.webp 2x" media="(max-width: 1199px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio2@1x.jpg 1x, build/img/portfolio/portfolio2@2x.jpg 2x" media="(max-width: 1199px)">

                <source srcset="build/img/portfolio/portfolio2_desktop@1x.webp 1x, build/img/portfolio/portfolio2_desktop@2x.webp 2x" type="image/webp">

                <img class="portfolio_img" alt="Сайт магазина детской одежды" src="build/img/portfolio/portfolio2_desktop@1x.jpg" srcset="build/img/portfolio/portfolio2_desktop@2x.jpg 2x">
              </picture>

              <figcaption class="portfolio_caption">
                <h3>
                  <a class="portfolio_caption__link" href="#">Сайт магазина детской одежды</a>
                </h3>
              </figcaption>
            </figure>
          </div>

          <div class="swiper-slide">
            <figure class="portfolio_item">
              <picture>
                <source srcset="build/img/portfolio/portfolio3_mobile@1x.webp 1x, build/img/portfolio/portfolio3_mobile@2x.webp 2x" media="(max-width: 320px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio3_mobile@1x.jpg 1x, build/img/portfolio/portfolio3_mobile@2x.jpg 2x" media="(max-width: 320px)">

                <source srcset="build/img/portfolio/portfolio3@1x.webp 1x, build/img/portfolio/portfolio3@2x.webp 2x" media="(max-width: 1199px)" type="image/webp">

                <source srcset="build/img/portfolio/portfolio3@1x.jpg 1x, build/img/portfolio/portfolio3@2x.jpg 2x" media="(max-width: 1199px)">

                <source srcset="build/img/portfolio/portfolio3_desktop@1x.webp 1x, build/img/portfolio/portfolio3_desktop@2x.webp 2x" type="image/webp">

                <img class="portfolio_img" alt="Сайт магазина «Рыболов»" src="build/img/portfolio/portfolio3_desktop@1x.jpg" srcset="build/img/portfolio/portfolio3_desktop@2x.jpg 2x">
              </picture>

              <figcaption class="portfolio_caption">
                <h3>
                  <a class="portfolio_caption__link" href="#">Сайт магазина «Рыболов»</a>
                </h3>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      
      <div class="swiper-pagination"></div>
    </div>

    <button class="btn btn_fill portfolio_btn btn_js">Заказать проект</button>
  </div>
</section>