<section class="services">
  <div id="services" class="container">
    <h2 class="title services_title">Что я делаю</h2>

    <ul class="services_list">
      <li class="services_item">
        <h3 class="services_text">Вёрстка лендинг–страниц и&nbsp;сайтов любой сложности</h3>
      </li>

      <li class="services_item">
        <h3 class="services_text">Адаптивная вёрстка под все браузеры и устройства</h3>
      </li>

      <li class="services_item">
        <h3 class="services_text">Frontend–разработка и&nbsp;программирование</h3>
      </li>

      <li class="services_item">
        <h3 class="services_text">Исправление и доработка существующей вёрстки</h3>
      </li>
    </ul>

    <a href="#cost" class="btn btn_fill services_btn">Узнать стоимость</a>
  </div>
</section>