.cost {
  position: relative;

  padding-top: 73px;
  padding-bottom: 80px;

  color: #fff;

  background: linear-gradient(13deg, #ff8f5a, #ff2f96);

  overflow: hidden;
}

.elements_cost {
  position: absolute;

  font-weight: 700;

  transition: all .5s;
  
  &:first-child {
    top: 14%;
    left: 6.7%;
  
    font-size: 48px;
  
    transform: rotate(28deg);
    
    &.elem_cost1 {
      top: 0;
      left: 0;
    }
  }
  
  &:nth-child(2) {
    top: 19%;
    right:10.8%;
  
    font-size: 40px;
  
    transform: rotate(-22deg);
    
    &.elem_cost2 {
      right: 0;
    }
  }
  
  &:nth-child(3) {
    bottom: 12%;
    left: 12.8%;
  
    font-size: 57px;
  
    transform: rotate(15deg);
    
    &.elem_cost3 {
      bottom: 0;
    }
  }
  
  &:nth-child(4) {
    right: 5.6%;
    bottom: 12%;
  
    font-size: 50px;
  
    transform: rotate(-20deg);
    
    &.elem_cost4 {
      right: 0;
    }
  }
  
  &:nth-child(5) {
    right: 21.3%;
    bottom: 4%;
  
    font-size: 37px;
  
    transform: rotate(23deg);
    
    &.elem_cost5 {
      bottom: 0;
    }
  }
}

.cost_wrap {
  max-width: 943px;
  margin: 0 auto;
}

.cost_title {
  margin-bottom: 29px;

  font-size: 45px;
  font-weight: 700;
  line-height: 1.37;
  
  &::after {
    content: "*";
  }
}

.cost_subtitle {
  position: relative;

  display: block;
  max-width: 800px;
  padding-left: 15px;

  font-size: 18px;
  line-height: 1.69;
  
  ::before {
    content: "* ";
  
    position: absolute;
    left: 0px;
    top: 0;
  
    display: block;
  }
}