.portfolio {
  padding-top: 103px;
  padding-bottom: 102px;

  text-align: center;

  background-color: $bg-color;
  
  &_title {
    margin-bottom: 94px;
  }
  
  &_wrap {
    position: relative;
  }
  
  &_item {
    margin: 0;
  }
  
  &_img {
    margin-bottom: 27px;
  }
  
  &_caption {
    font-size: 20px;
    font-weight: 500;
    
    &__link {
      transition: all .3s;
      
      &:hover {
        color: $bg-terracotta;
      }
    }
  }
  
  &_btn {
    margin-top: 93px;
    padding-right: 64px;
    padding-left: 64px;
  }
}