.swiper-button-prev {
  top: 40%;
  left: -30px;
  
  width: 61px;
  height: 60px;

  background-color: #ffffff;
  border-radius: 50%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

  outline: none;
  
  &::after {
    content: "";
  
    display: block;
    width: 17px;
    height: 17px;
    
    margin-left: 10px;

    border: 1px solid #8993ad;
    border-right: none;
    border-bottom: none;
  
    transform: rotate(-45deg);
  }
}

.swiper-button-next {
  top: 40%;
  right: -30px;
  
  width: 61px;
  height: 60px;

  background-color: #ffffff;
  border-radius: 50%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

  outline: none;
  
  &::after {
    content: "";
  
    display: block;
    width: 17px;
    height: 17px;
    
    margin-right: 10px;

    border: 1px solid #8993ad;
    border-bottom: none;
    border-left: none;
  
    transform: rotate(45deg);
  }
}

.swiper-pagination {
  display: none;
  
  &-bullet {
    width: 18px;
    height: 18px;
    margin-right: 30px;
  
    background-color: #ff4e2e;
    
    &:last-child {
      margin-right: 0;
    }
  }
}